*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul[role = 'list'],
ol[role = 'list'] {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img, picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
    }
}

input, textarea, select {
    border: none;
    border-bottom: 1px solid #E2E4E5;
    -webkit-appearance: none;
}

select, ::placeholder {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}